

html
{
  margin: 0 0;
}

body
{
  background-image: url("../images/back.jpeg"); /* image obtained from https://static.pexels.com/photos/68258/pexels-photo-68258.jpeg*/
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  color: white;
}

.contentwrapper
{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid
{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.cell
{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15vmin;
  flex: 1;
  min-width: 30vw;
  height: 28vh;
}

.grid-top
{
  flex: 1;
  display: flex;
  flex-flow: row;
}

.grid-centre
{
  flex: 1;
  display: flex;
  flex-flow: row;
}

.grid-bottom
{
  flex: 1;
  display: flex;
  flex-flow: row;
}

@keyframes bluecircle
{

}

@keyframes pulse {
	from { transform: none; }
	50% { transform: scale(1.4); }
	to { transform: none; }
}

.icon:hover
{
  animation: pulse 1s infinite;
  cursor: pointer;
}

a.icon
{
  color: white;
}

a:visited.icon
{
  color: white;
}

.large
{
  height: 100px;
  text-align: left;
  vertical-align: top;
}

.cvcont
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%
}
.cvtext
{
  width: 50%;
  color: white;
  opacity: 0.6;
  background-color: black;
  box-shadow: 10px 10px 20px black;
}
.cvtext p
{
  margin: 20px;
}

.biocont
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%
}
.biotext
{
  width: 50%;
  color: white;
  opacity: 0.5;
  background-color: black;
  box-shadow: 16px 16px 32px black;
}
.biotext p
{
  margin: 20px;
  font-family: Serif;
}
